<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Zakupy</h2>
    <p>Brak rekordów do wyświetlania</p>
    <p><a href="form.ejs" class="button-add">Dodaj nowy zakup</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>