<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Nowy użytkownik</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="firstName">Imie <span class="symbol-required">*</span></label>
        <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" required>
        <span class="errors-text" id="errorFirstName"></span>
        <label for="lastName">Nazwsiko <span class="symbol-required">*</span></label>
        <input type="text" name="lastName" placeholder="2-60 znaków" id="lastName" required>
        <span class="errors-text" id="errorLastName"></span>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="np abc@example.com" id="email">
        <span class="errors-text" id="errorEmail"></span>
        <p id="errorsSummary" class="errors-text"></p>
        <div class="form-buttons">
            <input class="form-button-submit" type="submit" value="Dodaj">
            <a class="form-button-cancel" href="public/index.htmll">Anuluj</a>
        </div>

    </form>

</main>
<%- include('../../fragments/footer.ejs') %>