<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Towary</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>
                Nazwa Towaru
            </th>
            <th>
                Cena za sztuke
            </th>
            <th>
                Akcje
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Towar1</td>
            <td>1.00 zł</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a class="list-actions-button-details" href="details.ejs">Szczegóły</a>
                    </li>
                    <li >
                        <a class="list-actions-button-edit" href="form-edit.ejs">Edytuj</a>
                    </li>
                    <li >
                        <a class="list-actions-button-delete" href="">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Towar2</td>
            <td>2.00 zł</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a class="list-actions-button-details" href="details.ejs">Szczegóły</a>
                    </li>
                    <li >
                        <a class="list-actions-button-edit" href="form-edit.ejs">Edytuj</a>
                    </li>
                    <li >
                        <a class="list-actions-button-delete" href="">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Towar3</td>
            <td>3.00 zł</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a class="list-actions-button-details" href="details.ejs">Szczegóły</a>
                    </li>
                    <li >
                        <a class="list-actions-button-edit" href="form-edit.ejs">Edytuj</a>
                    </li>
                    <li >
                        <a class="list-actions-button-delete" href="">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>

        </tbody>
    </table>
    <p><a href="form.ejs" class="button-add">Dodaj nowy towar</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>