<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Towary</h2>
    <p>Brak rekordów do wyświetlania</p>
    <p><a href="form.ejs" class="button-add">Dodaj nowy towar</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>